@model IEnumerable<StudyHub.DAL.Models.HocKy>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý học kỳ</h1>

<p>
    <a asp-action="Create">Thêm học kỳ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Năm học
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamHocKy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHocKy" class="btn btn-outline-warning">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHocKy" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
