@model StudyHub.DAL.Models.KhoaHoc

@{
    ViewData["Title"] = "Create";
}

<h4>KhoaHoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdMonHoc" class="control-label">Chọn môn học</label>
                <select asp-for="IdMonHoc" class ="form-control" asp-items="ViewBag.IdMonHoc"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdGiangVien" class="control-label">Chọn giảng viên</label>
                <select asp-for="IdGiangVien" class ="form-control" asp-items="ViewBag.IdGiangVien"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdHocKy" class="control-label">Chọn học kỳ</label>
                <select asp-for="IdHocKy" class ="form-control" asp-items="ViewBag.IdHocKy"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenKhoaHoc" class="control-label">Nhập tên cho khóa học</label>
                <input asp-for="TenKhoaHoc" class="form-control" />
                <span asp-validation-for="TenKhoaHoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
